{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="Default" />

<f:section name="Configuration">
	<!-- Fields for Page Properties (as Flexform) -->
	<flux:form id="default" label="Inhalt (1-spaltig)" options="{icon: '../typo3conf/ext/lj_templates/Resources/Public/Icons/Page/Standard.gif'}"></flux:form>

	<!-- Backend-Layout -->
	<flux:grid>
		<flux:grid.row>
			<flux:grid.column colPos="0" name="center" label="Inhalt" />
		</flux:grid.row>
	</flux:grid>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Content">
	<div id="main">
		<section class="grid-top">
			<!--TYPO3SEARCH_begin-->
			<v:content.render column="0" />
			<!--TYPO3SEARCH_end-->
		</section>
	</div>
</f:section>

<f:section name="Visual">
	<f:cObject typoscriptObjectPath="lib.backgroundImage" />
</f:section>