<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
Sehr geehrter/e ###value_salutation### ###value_firstname### ###value_lastname###,

wir haben Ihre Anfrage erhalten und melden uns schnellstmöglichst bei Ihnen.

###LLL:address###: ###value_address###
###LLL:zip###: ###value_zip###
###LLL:city###: ###value_city###
###LLL:phone###: ###value_phone###
###LLL:email###: ###value_email###
###LLL:anreise###: ###value_anreise###
###LLL:abreise###: ###value_abreise###
###LLL:room###: ###value_room###
###LLL:holiday###: ###value_holiday###
###LLL:type###: ###value_type###
###LLL:message###: ###value_message###
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->
Sehr geehrter/e ###value_salutation### ###value_firstname### ###value_lastname###,<br>
<br>
wir haben Ihre Anfrage erhalten und melden uns schnellstmöglichst bei Ihnen.<br>
<br>
###LLL:address###: ###value_address###<br>
###LLL:zip###: ###value_zip###<br>
###LLL:city###: ###value_city###<br>
###LLL:phone###: ###value_phone###<br>
###LLL:email###: ###value_email###<br>
###LLL:anreise###: ###value_anreise###<br>
###LLL:abreise###: ###value_abreise###<br>
###LLL:room###: ###value_room###<br>
###LLL:holiday###: ###value_holiday###<br>
###LLL:type###: ###value_type###<br>
###LLL:message###: ###value_message###
<!-- ###TEMPLATE_EMAIL_ADMIN_HTML### -->

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->
Sehr geehrter/e ###value_salutation### ###value_firstname### ###value_lastname###,

wir haben Ihre Anfrage erhalten und melden uns schnellstmöglichst bei Ihnen.

###LLL:address###: ###value_address###
###LLL:zip###: ###value_zip###
###LLL:city###: ###value_city###
###LLL:phone###: ###value_phone###
###LLL:email###: ###value_email###
###LLL:anreise###: ###value_anreise###
###LLL:abreise###: ###value_abreise###
###LLL:room###: ###value_room###
###LLL:holiday###: ###value_holiday###
###LLL:type###: ###value_type###
###LLL:message###: ###value_message###
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_USER_HTML### -->
Sehr geehrter/e ###value_salutation### ###value_firstname### ###value_lastname###,<br>
<br>
wir haben Ihre Anfrage erhalten und melden uns schnellstmöglichst bei Ihnen.<br>
<br>
###LLL:address###: ###value_address###<br>
###LLL:zip###: ###value_zip###<br>
###LLL:city###: ###value_city###<br>
###LLL:phone###: ###value_phone###<br>
###LLL:email###: ###value_email###<br>
###LLL:anreise###: ###value_anreise###<br>
###LLL:abreise###: ###value_abreise###<br>
###LLL:room###: ###value_room###<br>
###LLL:holiday###: ###value_holiday###<br>
###LLL:type###: ###value_type###<br>
###LLL:message###: ###value_message###
<!-- ###TEMPLATE_EMAIL_USER_HTML### -->